Que. 5

Prepare association rules for the following  data sets 
1. book.csv
2. movies.csv

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori

# Book

In [2]:
bk = pd.read_csv('/home/sad7_5407/Desktop/Sunbeam Material/ML/Assignment/book.csv')
bk

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

### EDA

In [ ]:
bk.info()

In [ ]:
bk.describe()

### Pre-processing

In [3]:
# to suppress the warning given by apriori (requires boolean dataframe)
bk.replace(to_replace=[0,1],value=[False,Tr,inplace=True)
bk

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,False,1,False,1,False,False,1,False,False,False,False
1,1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,1,1,1,False,1,False,1,False,False,False,False
4,False,False,1,False,False,False,1,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,1,False,False,1,1,1,False,1,1
1996,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,1,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False

## Association Rules Mining

In [ ]:
rules = apriori(bk, min_support=0.1,use_colnames=True)
rules

---

# Movies

In [2]:
mv = pd.read_csv('/home/sad7_5407/Desktop/Sunbeam Material/ML/Assignment/movies.csv')
mv

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

### EDA

In [ ]:
mv.info()

In [ ]:
mv.describe()

### Pre-processing

In [ ]:
mv.drop(columns=['V1','V2',"V3",'V4','V5'],inplace=True)
mv

In [ ]:
mv.replace(to_replace=[1,0],value=[True,False],inplace=True)
mv

# Association Rules Mining
##  Using Apriori

In [ ]:
rules = apriori(mv,min_support=0.4,use_colnames=True)
rules